*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
cornel_bird_data/ebd_ds/*.txt filter=lfs diff=lfs merge=lfs -text
data/extracted/*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/*.csv filter=lfs diff=lfs merge=lfs -text
